<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-3"> <!--mt-3 means margin top of 3-->
        <div class="col-8 offset-2">
            <h2>Edit Your Book</h2><br>
            <form method="POST" action="/LMS/Students/<%= user._id %>?_method=PUT" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="bid" class="form-label">Student Id</label>
                    <input type="number" name="user[username]" value="<%= user.username %>" class="form-control" required>
                    <div class="invalid-feedback">Book id should be valid</div>
                </div>
                <div class="mb-3">                 <!--The novalidate will remove all the default implementations of the browser so that we can apply custom implementations-->
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="user[name]" value="<%= user.name %>" class="form-control" required>
                    <div class="valid-feedback">Name Looks Good!!!</div>
                    <div class="invalid-feedback">Please enter a valid name</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="user[email]" value="<%=user.email%>" class="form-control" required>
                    <div class="valid-feedback">Email Looks Good!!!</div>
                    <div class="invalid-feedback">Write email</div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone No.</label>
                    <input type="number" name="user[phone]" value="<%=user.phone%>" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid 10-digit phone number</div>
                </div>
                
                <button class="btn btn-dark add-btn">Edit User</button><br><br><br>   <!--Here btn is a default class from bootstrap-->
            </form>
        </div>
    </div>
</body>